
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

html
,body{
  background-color: #0f0f0f !important ;
  color: rgb(255, 255, 255)!important;
}




.con {
  direction: rtl;
}

.surah {
  text-decoration: none;
  overflow: hidden;
  color:white;
}

.ayahsMain{
   display: flex;
   flex-wrap: wrap;
   
}

.ayah {
  max-width: max-content;
  
}

.ayah-text {
  line-height: 35px;
}

.ayah-no {
  border: solid;
  border-radius: 50%;
  border-color: white;
  padding-left: 2px;
  padding-right:2px;
  font-size: x-small;
  font-weight: bolder;
}

.my-port{
  text-decoration: none;
  overflow: hidden;
  color:white;
}


.title {
  font-weight: bolder;
  border-bottom: solid white;
  padding-bottom: 15px;
  border-radius: 50px;
}

.searchinp {
  width: 75%;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
}

.searchinp::placeholder {
  padding-left: 10px;
}

.butt-searchh {
  overflow: hidden;
  text-decoration: none;
  outline: none;
  border: none;
  background-color:white;
  color: black;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}


.searchdiv {
  border-bottom: solid white;
  border-radius: 20px;
  padding-bottom: 10px;
}

.audio {
  width: 100%;
}